﻿@model GerenciamentoDeAluno.Models.Aluno

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataUltimaModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUltimaModificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModificadorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModificadorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RgPai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RgPai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FonePai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FonePai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfissaoPai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfissaoPai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeMae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeMae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RgMae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RgMae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoneMae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoneMae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfissaoMae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfissaoMae)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AlunoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
