﻿@model IEnumerable<GerenciamentoDeAluno.Models.Aluno>

@{
    ViewBag.Title = "Alunos";
}

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUltimaModificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioModificadorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RgPai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FonePai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfissaoPai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeMae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RgMae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoneMae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfissaoMae)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUltimaModificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioModificadorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RgPai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FonePai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfissaoPai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeMae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RgMae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoneMae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfissaoMae)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AlunoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AlunoId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.AlunoId })
        </td>
    </tr>
}

</table>
