﻿@model IEnumerable<GerenciamentoDeAluno.Models.Cidade>

@{
    ViewBag.Title = "Cidades";
}

<h2>Cidades</h2>

<p>
    @Html.ActionLink("Criar Nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CidadeId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CidadeId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.CidadeId })
        </td>
    </tr>
}

</table>
